<!doctype html>
<html lang="ru" class="{{ body_class|default('') }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title if title else "Sstihi" }}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="{{ body_class|default('') }}">
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
